.groupChild,
.unionIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3893.42px;
  height: 2546.29px;
}
.groupChild {
  top: -8px;
  left: -32px;
  border-radius: var(--br-40xl);
  width: 1540.59px;
  height: 967.5px;
  object-fit: cover;
}
.donate {
  position: absolute;
  top: 293.54px;
  left: 94.69px;
}
.groupInner,
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-400);
  width: 1px;
  height: 903.5px;
}
.groupInner {
  left: 1px;
  background-color: var(--color-whitesmoke-100);
}
.bytesizesearch,
.rectangleGroup {
  position: absolute;
  top: 0;
  left: 250.54px;
  width: 2px;
  height: 903.5px;
}
.bytesizesearch {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 246.54px;
  left: 55.69px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1476.59px;
  height: 903.5px;
}
.home,
.search {
  position: absolute;
  top: 46.5px;
  left: 49.91px;
}
.home {
  cursor: pointer;
  text-decoration: none;
  top: 8px;
  left: 50px;
  font-weight: 700;
  color: inherit;
}
.frameIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.searchParent {
  position: absolute;
  top: 201.54px;
  left: 49.69px;
  width: 90.91px;
  height: 63.5px;
}
.volunteer {
  position: absolute;
  top: 6.5px;
  left: 47.92px;
}
.goalsLeft,
.settingsLeft,
.volunteerLeft {
  position: absolute;
  top: 331.54px;
  left: 51.67px;
  width: 109.92px;
  height: 30px;
}
.goalsLeft,
.settingsLeft {
  top: 376.54px;
  width: 82.92px;
}
.settingsLeft {
  top: 421.54px;
  width: 98.92px;
}
.overviewButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-aliceblue-100);
  width: 165px;
  height: 39px;
}
.overview {
  position: absolute;
  top: 11.5px;
  left: 57.37px;
}
.overviewButtonItem {
  position: absolute;
  top: 5px;
  left: 9.45px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.groupParent,
.overviewButton {
  position: absolute;
  top: 139.54px;
  left: 37.69px;
  width: 165px;
  height: 39px;
  color: var(--primary);
}
.groupParent {
  top: 148.25px;
  left: 61.7px;
  width: 1476.59px;
  height: 903.5px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-lato);
}
.donateButtonLeft,
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  top: 436px;
  left: 113px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.vectorIcon,
.vectorIcon1 {
  height: 92.86%;
  width: 92.86%;
  top: -3.57%;
  right: 10.71%;
  bottom: 10.71%;
  left: -3.57%;
  max-width: 100%;
  max-height: 100%;
}
.vectorIcon1 {
  height: 32.14%;
  width: 32.14%;
  top: 71.43%;
  right: -3.57%;
  bottom: -3.57%;
  left: 71.43%;
}
.group {
  text-decoration: none;
  position: absolute;
  height: 70%;
  width: 70%;
  top: 16.67%;
  right: 16.67%;
  bottom: 13.33%;
  left: 13.33%;
}
.searchButtonLeft {
  position: absolute;
  top: 396px;
  left: 113px;
  background-color: var(--white);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.donateClothes {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 479px;
  height: 36px;
}
.getSummaryOf {
  position: absolute;
  top: 54px;
  left: 0;
  font-size: 16.06px;
  font-family: var(--font-abhaya-libre-extrabold);
  color: var(--color-dimgray-100);
}
.topMainHeading {
  position: absolute;
  top: 178.79px;
  left: 359.39px;
  width: 479px;
  height: 73px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-abhaya-libre-semibold);
}
.rectangleDiv {
  position: absolute;
  top: 127.03px;
  left: 0;
  border-radius: 13.62px;
  background-color: var(--color-goldenrod);
  width: 163.21px;
  height: 41.03px;
}
.donateForGood {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 131px;
  height: 15px;
}
.groupIcon {
  position: absolute;
  height: 58.52%;
  width: 6.53%;
  top: 20.82%;
  right: -0.56%;
  bottom: 20.65%;
  left: 94.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.donateForGoodCauseParent {
  position: absolute;
  top: 140.03px;
  left: 10px;
  width: 134.38px;
  height: 15px;
}
.giveYourDonation {
  margin: 0;
}
.giveYourDonationContainer {
  position: absolute;
  top: 89.16px;
  left: 29px;
  font-size: 8.75px;
  font-family: var(--font-abhaya-libre-extrabold);
  text-align: center;
  display: inline-block;
  width: 103.76px;
  height: 21.25px;
}
.groupChild1 {
  position: absolute;
  top: 8.69px;
  left: 2.16px;
  width: 57.76px;
  height: 70.53px;
}
.div,
.ellipseDiv {
  position: absolute;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.ellipseDiv {
  top: 12.47px;
  left: 0;
  border-radius: 50%;
  border: 1.5px solid var(--primary);
  box-sizing: border-box;
  width: 24.94px;
  height: 24.94px;
}
.div {
  top: 10.19px;
  left: 8.63px;
  display: inline-block;
  width: 13.3px;
  height: 26.61px;
}
.ellipseParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 34.07px;
  height: 34.07px;
}
.moonIcon,
.vectorIcon2 {
  position: absolute;
  top: 8.69px;
  left: 2.16px;
  width: 57.76px;
  height: 37.77px;
}
.moonIcon {
  top: 1.37px;
  left: 48.05px;
  width: 23.06px;
  height: 23.06px;
  overflow: hidden;
}
.groupChild2,
.groupParent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.11px;
  height: 46.46px;
}
.groupChild2 {
  height: 17.03%;
  width: 22.88%;
  top: 47.72%;
  right: 49.59%;
  bottom: 35.26%;
  left: 27.54%;
  background-color: var(--white);
}
.vectorIcon4,
.vectorIcon5,
.vectorIcon6 {
  position: absolute;
  height: 13.87%;
  width: 2.11%;
  top: 48.47%;
  right: 59.97%;
  bottom: 37.66%;
  left: 37.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon5,
.vectorIcon6 {
  top: 46.77%;
  bottom: 39.36%;
}
.vectorIcon6 {
  height: 7.88%;
  width: 15.46%;
  right: 53.3%;
  bottom: 45.35%;
  left: 31.25%;
}
.groupContainer,
.groupWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 71.11px;
  height: 79.22px;
}
.groupWrapper {
  left: 50.12px;
  font-size: 14.23px;
  color: var(--primary);
}
.rectangleContainer {
  position: absolute;
  top: 853.62px;
  left: 111.39px;
  width: 163.21px;
  height: 168.06px;
  font-size: 11.14px;
  font-family: var(--font-quicksand);
}
.educationGoalsChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: var(--white);
  box-shadow: var(--effect);
  width: 157.93px;
  height: 168.74px;
}
.education {
  position: absolute;
  top: 131.13px;
  left: 24.64px;
}
.students1Icon {
  top: 76px;
  left: 40px;
  width: 52px;
  height: 52px;
  object-fit: cover;
}
.div1,
.div2,
.students1Icon {
  position: absolute;
}
.div1 {
  top: 42px;
  left: 49px;
  font-size: var(--text-sm-regular-size);
  color: var(--color-darkslategray-100);
}
.div2 {
  top: 12px;
  left: 42px;
  font-size: 23.98px;
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 66.61px;
}
.educationGoals,
.fashion1Icon {
  position: absolute;
  top: 38.2px;
  left: 348.84px;
  width: 157.93px;
  height: 168.74px;
}
.fashion1Icon {
  top: 63.7px;
  left: 35.45px;
  width: 67px;
  height: 67px;
  object-fit: cover;
}
.div3,
.div4 {
  position: absolute;
  left: 45.45px;
}
.div3 {
  top: 42.7px;
  font-size: var(--text-sm-regular-size);
  color: var(--color-darkslategray-100);
}
.div4 {
  top: 12.7px;
  font-size: 23.98px;
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 66.61px;
  height: 50.62px;
}
.flood1Icon,
.hygieneWearsGoals {
  position: absolute;
  top: 38.5px;
  left: 172.38px;
  width: 157.93px;
  height: 168.74px;
}
.flood1Icon {
  top: 62.7px;
  left: 32.84px;
  width: 69px;
  height: 69px;
  object-fit: cover;
}
.div5,
.div6 {
  position: absolute;
  left: 39.84px;
}
.div5 {
  top: 42.7px;
  font-size: var(--text-sm-regular-size);
  color: var(--color-darkslategray-100);
}
.div6 {
  top: 12.7px;
  font-size: 23.98px;
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 66.61px;
  height: 50.62px;
}
.plusGoalsSign,
.reliefFundsGoals {
  position: absolute;
  top: 38.5px;
  left: 0;
  width: 157.93px;
  height: 168.74px;
}
.plusGoalsSign {
  top: 0;
  left: 65.11px;
  width: 24px;
  height: 24px;
}
.detailsRight,
.goals1 {
  position: absolute;
  top: 0;
  left: 1.6px;
}
.detailsRight {
  top: 317.8px;
  left: 988.16px;
  width: 506.77px;
  height: 207.25px;
  font-size: 20.11px;
}
.enterButtonChild,
.enterDetailsSectionChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.enterDetailsSectionChild {
  border-radius: var(--br-9xl);
  background: linear-gradient(180deg, #f3eeee, #fff);
  box-shadow: var(--effect);
}
.enterButtonChild {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-deepskyblue);
  border-radius: 19.51px;
  box-shadow: 0 1.9512195587158203px 1.95px rgba(0, 0, 0, 0.25);
}
.enter {
  position: absolute;
  height: 52.5%;
  width: 53.75%;
  top: 5%;
  left: 32.32%;
  font-size: var(--text-sm-regular-size);
  letter-spacing: 0.1em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--white);
  text-align: left;
  display: inline-block;
}
.enterButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 5.51%;
  width: 16.59%;
  top: 64.96%;
  right: 61.83%;
  bottom: 29.53%;
  left: 21.58%;
}
.cancelDonation {
  position: absolute;
  top: 85.47%;
  left: 77.37%;
  font-family: var(--font-abhaya-libre);
  color: var(--color-darkgray-100);
}
.cancelDonationButtonChild,
.cancelDonationButtonItem {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 13.62px;
  background-color: var(--color-whitesmoke-400);
}
.cancelDonationButtonItem {
  width: 51.33%;
  right: 48.67%;
  background-color: var(--color-lightgray-200);
}
.cancelDonationButton {
  position: absolute;
  height: 6.46%;
  width: 7.66%;
  top: 76.08%;
  right: 4.74%;
  bottom: 17.46%;
  left: 87.6%;
}
.remainingStock {
  position: absolute;
  top: 61.1%;
  left: 77.56%;
  font-family: var(--font-abhaya-libre);
}
.span {
  font-size: var(--font-size-lg);
}
.div7 {
  top: 48.99%;
  left: 79.23%;
  font-weight: 600;
  color: var(--red);
  font-size: 31.55px;
}
.div7,
.div8,
.donated {
  position: absolute;
}
.donated {
  top: 43.2%;
  left: 79.23%;
  font-family: var(--font-abhaya-libre);
}
.div8 {
  top: 32.19%;
  left: 78.56%;
  font-weight: 600;
  color: var(--green);
  font-size: 31.55px;
}
.totalDonation {
  position: absolute;
  top: 24.98%;
  left: 76.82%;
  font-family: var(--font-abhaya-libre);
}
.b {
  position: absolute;
  top: 13.19%;
  left: 76.22%;
  font-size: 31.55px;
  color: var(--primary);
}
.enterDetailsSectionItem {
  position: absolute;
  height: 55.04%;
  width: 0.17%;
  top: 15.24%;
  right: 33.24%;
  bottom: 29.72%;
  left: 66.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 7.24px;
  background-color: var(--color-gray-100);
  box-shadow: 0 0 2.9px rgba(0, 0, 0, 0.16);
}
.men,
.type {
  position: absolute;
  top: 0;
  left: 2.91%;
  opacity: 0.6;
}
.men {
  border: 0;
  background-color: transparent;
  font-family: var(--font-lato);
  font-size: 11.59px;
  top: 34.47%;
  left: 20.49%;
  font-weight: 700;
  color: var(--color-darkslategray-200);
  text-align: left;
}
.t1 {
  position: relative;
  width: 227.44px;
  height: 43.46px;
}
.departureField {
  position: absolute;
  height: 11.97%;
  width: 46.43%;
  top: 29.98%;
  right: 42.72%;
  bottom: 58.05%;
  left: 10.85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 11.59px;
  color: var(--color-gray-300);
}
.download3Icon {
  position: absolute;
  top: 1px;
  left: 30px;
  width: 5px;
  height: 5px;
  object-fit: cover;
}
.t1Parent {
  position: absolute;
  height: 11.97%;
  width: 38.12%;
  top: 44.86%;
  right: 51.2%;
  bottom: 43.18%;
  left: 10.69%;
  font-size: 11.59px;
  color: var(--color-gray-300);
}
.indiaInd,
.yourLocation {
  position: absolute;
  top: 9.2%;
  left: 13.19%;
  opacity: 0.6;
}
.indiaInd {
  border: 0;
  background-color: transparent;
  font-family: var(--font-lato);
  font-size: var(--font-size-5xs);
  top: 52.92%;
  left: 20.67%;
  font-weight: 700;
  color: var(--color-gray-300);
  text-align: left;
}
.groupChild6 {
  position: absolute;
  height: 50%;
  width: 9.55%;
  top: 25%;
  right: 85.99%;
  bottom: 25%;
  left: 4.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.departureField1 {
  position: absolute;
  height: 11.53%;
  width: 46.35%;
  top: 16.77%;
  right: 42.97%;
  bottom: 71.71%;
  left: 10.69%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-300);
}
.enterDetails {
  position: absolute;
  top: 3.88%;
  left: 4.13%;
  font-size: 20.11px;
  letter-spacing: 0.15em;
  font-family: var(--font-abhaya-libre-semibold);
  color: var(--text-primary);
}
.prunit {
  position: absolute;
  top: 54.56%;
  left: 86.33%;
  font-weight: 600;
}
.quantity {
  position: absolute;
  top: 53.7%;
  left: 0;
  letter-spacing: 0.1em;
  font-family: var(--font-abhaya-libre-extrabold);
  color: var(--color-dimgray-100);
}
.quantityBarChild,
.quantityBarItem {
  position: absolute;
  height: 25.31%;
  width: 99.57%;
  top: 0;
  right: 0.09%;
  bottom: 74.69%;
  left: 0.34%;
  border-radius: 13.62px;
  background-color: var(--color-whitesmoke-200);
}
.quantityBarItem {
  height: 24.22%;
  width: 21.52%;
  top: 0.55%;
  right: 78.14%;
  bottom: 75.24%;
  border-radius: 10.78px;
  background-color: var(--primary);
}
.quantityBar {
  position: absolute;
  height: 10.3%;
  width: 53.93%;
  top: 79.93%;
  right: 40.14%;
  bottom: 9.76%;
  left: 5.92%;
  color: var(--text-primary);
}
.enterDetailsSectionInner {
  position: absolute;
  height: 6.59%;
  width: 62.82%;
  top: 38.56%;
  right: 34.68%;
  bottom: 54.85%;
  left: 2.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.download4Icon {
  position: absolute;
  top: 64.88px;
  left: 148.75px;
  width: 5px;
  height: 5px;
  object-fit: cover;
}
.enterDetailsSection {
  position: absolute;
  top: 303.12px;
  left: 359.25px;
  width: 596.66px;
  height: 363.12px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-lato);
}
.otherOptionsDetailsSerchChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: #f2f2f2;
  box-shadow: var(--effect);
}
.submitButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: #c3acac;
  width: 63px;
  height: 15px;
}
.upload1Icon {
  position: absolute;
  top: 1px;
  left: 6px;
  width: 13px;
  height: 13px;
  object-fit: cover;
}
.submit {
  position: absolute;
  top: 3px;
  left: 25px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 48px;
  height: 8px;
}
.microphone,
.submitButton {
  position: absolute;
  left: 423.17px;
  height: 15px;
}
.submitButton {
  top: 209.84px;
  width: 73px;
  font-size: var(--font-size-5xs);
  color: var(--black);
}
.microphone {
  top: 159.84px;
  display: inline-block;
  width: 79px;
}
.microphoneButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15.59px;
  background-color: var(--color-mistyrose);
  width: 53px;
  height: 53px;
}
.microphoneButtonItem {
  position: absolute;
  top: 3.61px;
  left: 4.82px;
  border-radius: var(--br-2xs-8);
  background-color: var(--color-lightgray-100);
  width: 44.57px;
  height: 44.57px;
}
.microphone1Icon,
.microphoneButtonInner {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 40.95px;
  height: 38.91px;
}
.microphone1Icon {
  top: 12.16px;
  left: 12.83px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.microphoneButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 93.84px;
  left: 432.17px;
  width: 53px;
  height: 53px;
}
.speakNow {
  position: absolute;
  top: 50.84px;
  left: 396.17px;
  letter-spacing: 0.1em;
  text-align: right;
}
.otherOptionsDetailsSerchItem {
  position: absolute;
  top: 67.65px;
  left: 302.15px;
  width: 1px;
  height: 199.86px;
}
.uploadButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  width: 63px;
  height: 15px;
}
.uploadButton {
  position: absolute;
  top: 209.84px;
  left: 125.17px;
  width: 73px;
  height: 15px;
  font-size: var(--font-size-5xs);
  color: var(--black);
}
.gallery {
  position: absolute;
  top: 158.84px;
  left: 205.17px;
}
.imagesInterfaceSymbol1Icon {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.galleryButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 98.84px;
  left: 205.17px;
  width: 53px;
  height: 53px;
}
.camera {
  position: absolute;
  top: 158.84px;
  left: 63.17px;
}
.cameraButtonInner,
.photo1Icon {
  position: absolute;
  top: 5px;
  left: 6.02px;
  width: 40.95px;
  height: 38.91px;
}
.photo1Icon {
  top: 14.45px;
  left: 16.86px;
  width: 19.27px;
  height: 19.27px;
  object-fit: cover;
}
.cameraButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 98.84px;
  left: 59.17px;
  width: 53px;
  height: 53px;
}
.orContinueWith,
.takeAPicture {
  position: absolute;
  letter-spacing: 0.1em;
}
.takeAPicture {
  top: 50.84px;
  left: 84.17px;
  text-align: right;
}
.orContinueWith {
  top: 4.84px;
  left: 12.17px;
  font-size: 20.11px;
  font-family: var(--font-abhaya-libre-semibold);
  color: var(--text-primary);
}
.otherOptionsDetailsSerch {
  position: absolute;
  top: 708.79px;
  left: 359.39px;
  width: 596.66px;
  height: 322.38px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-abhaya-libre-extrabold);
}
.getPointsRedLogoRightChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background: linear-gradient(180deg, #ed654c, #d05842);
  box-shadow: var(--effect);
}
.vectorIcon7,
.vectorIcon8 {
  position: absolute;
  height: 43.52%;
  width: 55.94%;
  top: 0.65%;
  right: 44.06%;
  bottom: 55.84%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon8 {
  height: 28.82%;
  width: 37.05%;
  top: 0;
  right: 0;
  bottom: 71.18%;
  left: 62.95%;
}
.groupChild7 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-indianred);
}
.b1,
.ellipseGroup,
.groupChild7 {
  position: absolute;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.b1 {
  height: 87.34%;
  width: 43.67%;
  top: -8.6%;
  left: 27.55%;
  display: inline-block;
}
.ellipseGroup {
  height: 24.15%;
  width: 20.3%;
  top: 57.21%;
  right: 37.53%;
  bottom: 18.65%;
  left: 42.17%;
}
.groupChild8 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-indianred);
}
.b2,
.ellipseContainer,
.groupChild8 {
  position: absolute;
  transform: rotate(30deg);
  transform-origin: 0 0;
}
.b2 {
  height: 87.34%;
  width: 43.67%;
  top: 19.56%;
  left: 21.22%;
  display: inline-block;
}
.ellipseContainer {
  height: 24.15%;
  width: 20.3%;
  top: 67.02%;
  right: 53.5%;
  bottom: 8.84%;
  left: 26.2%;
}
.vectorParent {
  position: absolute;
  height: 65.92%;
  width: 90.87%;
  top: 2.55%;
  right: 15.17%;
  bottom: 31.52%;
  left: -6.04%;
}
.getPointsRedLogoRightInner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.getGreatPointsContainer {
  position: absolute;
  top: 68.9%;
  left: 10.16%;
  font-size: 20.11px;
  font-family: var(--font-abhaya-libre);
  color: var(--white);
}
.vectorGetGreatPointsRight {
  position: absolute;
  height: 6.24%;
  width: 6.59%;
  top: 85.5%;
  right: 46.39%;
  bottom: 8.26%;
  left: 47.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.getPointsRedLogoRight {
  position: absolute;
  top: 836.62px;
  left: 1332.93px;
  width: 157.93px;
  height: 183.03px;
  font-size: 20.25px;
  color: var(--color-tomato);
  font-family: var(--font-quicksand);
}
.leaderboardSectionChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--white);
  box-shadow: var(--effect);
}
.sendTransferButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13.62px;
  background-color: var(--color-goldenrod);
  width: 131.59px;
  height: 36.52px;
}
.arrowVector {
  position: absolute;
  height: 21.59%;
  width: 5.42%;
  top: 35.06%;
  right: 5.94%;
  bottom: 43.35%;
  left: 88.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sendTheTransfer {
  position: absolute;
  top: 11.21px;
  left: 13.28px;
}
.sendTransferButton {
  position: absolute;
  top: 133.59px;
  left: 196.79px;
  width: 131.59px;
  height: 36.52px;
  font-size: 11.14px;
  font-family: var(--font-quicksand);
}
.unit0RightChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  width: 175.32px;
  height: 36.52px;
}
.div9,
.unit {
  position: absolute;
  top: 7.57px;
  left: 137.23px;
  font-weight: 300;
}
.div9 {
  top: 3.76px;
  left: 10.81px;
  font-size: 23.98px;
}
.unit0Right {
  position: absolute;
  top: 133.59px;
  left: 11.2px;
  width: 175.32px;
  height: 36.52px;
  font-size: 20.11px;
  color: var(--unactive);
  font-family: var(--font-lato);
}
.plusCircleIcon {
  position: absolute;
  height: 49.83%;
  width: 54.55%;
  top: 0;
  right: 12.5%;
  bottom: 50.17%;
  left: 32.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.addNew,
.plusElipse {
  position: absolute;
  top: 70.93%;
  left: 0;
}
.plusElipse {
  height: 26.32%;
  width: 12.88%;
  top: 37.1%;
  right: 6.48%;
  bottom: 36.58%;
  left: 80.63%;
}
.mia,
.miaElipseChild {
  position: absolute;
  top: 75.91%;
  left: 23.9%;
}
.miaElipseChild {
  height: 72.51%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 27.49%;
  left: 0;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.miaElipse {
  position: absolute;
  height: 31.75%;
  width: 12.34%;
  top: 31.67%;
  right: 20.72%;
  bottom: 36.58%;
  left: 66.94%;
}
.mike,
.mikeElipse {
  position: absolute;
  top: 75.91%;
  left: 17.96%;
}
.mikeElipse {
  height: 31.75%;
  width: 12.34%;
  top: 31.67%;
  right: 36.57%;
  bottom: 36.58%;
  left: 51.09%;
}
.john,
.johnElipse {
  position: absolute;
  top: 75.91%;
  left: 15.59%;
}
.johnElipse {
  height: 31.75%;
  width: 12.34%;
  top: 31.67%;
  right: 52.42%;
  bottom: 36.58%;
  left: 35.24%;
}
.monica {
  position: absolute;
  top: 75.91%;
  left: 0;
}
.monicaElipseChild {
  position: absolute;
  height: 72.51%;
  width: 98.99%;
  top: 0;
  right: 0;
  bottom: 27.49%;
  left: 1.01%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.monicaElipse {
  position: absolute;
  height: 31.75%;
  width: 12.47%;
  top: 31.67%;
  right: 68.4%;
  bottom: 36.58%;
  left: 19.13%;
}
.ann,
.annElipse {
  position: absolute;
  top: 75.91%;
  left: 21.52%;
}
.annElipse {
  height: 31.75%;
  width: 12.34%;
  top: 31.67%;
  right: 84.38%;
  bottom: 36.58%;
  left: 3.28%;
}
.clothesDonorLeaderboard {
  position: absolute;
  top: 18.05px;
  left: 12.8px;
  font-size: 20.11px;
  font-family: var(--font-abhaya-libre-semibold);
}
.leaderboardSection {
  position: absolute;
  top: 836.62px;
  left: 976.97px;
  width: 341.51px;
  height: 183.03px;
  font-size: var(--text-xs-medium-size);
}
.sdgStatisticsChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(217, 217, 217, 0.01);
}
.statsLineOfNoPovertyChild {
  position: absolute;
  top: 0.01px;
  left: 0.08px;
  border-radius: 13.62px;
  background-color: var(--color-whitesmoke-200);
  width: 367.74px;
  height: 9.47px;
}
.statsLineOfNoPovertyItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10.78px;
  background-color: var(--color-cornflowerblue);
  width: 189px;
  height: 9px;
}
.noPoverty {
  position: absolute;
  top: 17.74px;
  left: 2.41px;
  letter-spacing: 0.1em;
}
.statsLineOfNoPoverty {
  position: absolute;
  top: 11.34px;
  left: 57.23px;
  width: 367.82px;
  height: 38.74px;
}
.noPovertyStatsChild {
  position: absolute;
  top: -1px;
  left: -24px;
  border-radius: var(--br-10xs);
  width: 90.14px;
  height: 91.44px;
  object-fit: cover;
}
.div10 {
  position: absolute;
  top: 0;
  left: 440.29px;
  font-size: 23.98px;
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-gray-200);
  display: inline-block;
  width: 66.61px;
  height: 32.18px;
}
.noPovertyStats {
  position: absolute;
  top: 192.28px;
  left: 10.39px;
  width: 506.9px;
  height: 50.44px;
}
.qualityEducationStatsLineChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13.62px;
  background-color: var(--color-whitesmoke-200);
  width: 367.74px;
  height: 9.47px;
}
.qualityEducationStatsLineItem {
  position: absolute;
  top: 0.27px;
  left: 0;
  border-radius: 10.78px;
  background: linear-gradient(90deg, #209d43, #2bc255);
  width: 62.12px;
  height: 9.47px;
}
.qualityEducation {
  position: absolute;
  top: 17.72px;
  left: 2.33px;
  letter-spacing: 0.1em;
}
.qualityEducationStatsLine {
  position: absolute;
  top: 11.08px;
  left: 57.31px;
  width: 367.74px;
  height: 38.72px;
}
.qualityEducationStatsChild {
  position: absolute;
  top: -1.27px;
  left: -24px;
  border-radius: var(--br-10xs);
  width: 90.14px;
  height: 91.44px;
  object-fit: cover;
}
.qualityEducationStats {
  position: absolute;
  top: 125.81px;
  left: 10.39px;
  width: 506.9px;
  height: 50.17px;
}
.zeroHungerStatsLineItem {
  position: absolute;
  top: 0.27px;
  left: 0;
  border-radius: 10.78px;
  background: linear-gradient(270deg, #fcae73, #f79042);
  width: 195.35px;
  height: 9.47px;
}
.zeroHunger {
  position: absolute;
  top: 17.72px;
  left: 2.33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.zeroHungerStatsLine {
  position: absolute;
  top: 14px;
  left: 58px;
  width: 367.74px;
  height: 38.72px;
}
.zeroHungerStatsChild {
  position: absolute;
  top: -8px;
  left: -24px;
  border-radius: var(--br-10xs);
  width: 90.14px;
  height: 91.44px;
  object-fit: cover;
}
.div12 {
  position: absolute;
  top: 6px;
  left: 438px;
  font-size: 23.98px;
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-gray-200);
  display: inline-block;
  width: 66.61px;
  height: 32.18px;
}
.zeroHungerStats {
  position: absolute;
  top: 65.79px;
  left: 12.39px;
  width: 504.61px;
  height: 52.72px;
}
.sustainableDevelopmentGoals {
  position: absolute;
  top: 9.23%;
  left: 2.22%;
  font-size: var(--font-size-7xl);
  font-family: var(--font-abhaya-libre-semibold);
  color: #30ee11;
}
.sdgStatistics {
  position: absolute;
  top: 548px;
  left: 978px;
  width: 530px;
  height: 262px;
  font-size: var(--font-size-lg);
  color: var(--color-burlywood);
  font-family: var(--font-abhaya-libre-extrabold);
}
.adminAccount,
.andrew {
  position: absolute;
  top: 0;
  left: 0;
}
.adminAccount {
  top: 50%;
  color: var(--color-darkgray-100);
}
.adminDetails {
  position: absolute;
  height: 96.98%;
  width: 39%;
  top: 1.51%;
  right: 0;
  bottom: 1.51%;
  left: 61%;
}
.adminLogosymbol,
.bellIcon,
.mailIcon {
  position: absolute;
  height: 100%;
  width: 15.72%;
  top: 0;
  right: 43.12%;
  bottom: 0;
  left: 41.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bellIcon,
.mailIcon {
  height: 68.46%;
  width: 10.76%;
  top: 18.62%;
  right: 69.52%;
  bottom: 12.92%;
  left: 19.73%;
}
.mailIcon {
  right: 89.24%;
  left: 0;
}
.adminComponents {
  position: absolute;
  top: 207.72px;
  left: 1251.8px;
  width: 223.06px;
  height: 35.06px;
}
.arityPoints {
  position: absolute;
  top: 0;
  left: 26.72px;
  display: inline-block;
  width: 148.28px;
}
.logoFooterCharityChild {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-seagreen);
  width: 26.91px;
  height: 28.05px;
}
.ch {
  position: absolute;
  top: 4.01px;
  left: 2px;
  font-size: 16.03px;
  display: inline-block;
  color: var(--white);
  width: 27.39px;
  height: 10.69px;
}
.logoFooterCharity {
  position: absolute;
  top: 183px;
  left: 104px;
  width: 175px;
  height: 30.06px;
  font-size: 21.37px;
  color: var(--color-mediumseagreen);
  font-family: var(--text-sm-regular);
}
.clothesDashboard {
  position: relative;
  background: linear-gradient(180deg, #e5e5e5, rgba(240, 240, 240, 0));
  width: 100%;
  height: 1200px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-sm-regular-size);
  color: var(--text-primary);
  font-family: var(--font-abhaya-libre);
}
